<div class="row w-full">
    <div class="flex flex-col justify-center items-center w-full">
        <p class="text-6xl sm:text-8xl font-bold text-center pt-10">ERRO 404!</p>
        <p class="text-xl sm:text-4xl font-semibold text-center pt-10">Página não encontrada!</p>
        <button class="text-xl sm:text-4xl font-semibold text-center p-4 bg-zinc-300 rounded-full  m-4 mt-8" (click)="retornarParaHome()">Clique aqui para retornar ao Site.</button>
        <div class="w-full sm:w-[40rem] h-full flex justify-center items-center">
            <img src="assets/page_not_found.svg" alt="">
        </div>
    </div>
</div>