<mat-card class="max-w-96 min-w-96 cursor-pointer h-full">
    <div class="w-full">
      <div class="h-80 w-full bg-gray-300 rounded-lg animate-pulse"></div>
    </div>
  
    <div class="m-2 h-6 w-3/4 bg-gray-300 rounded mt-2 animate-pulse"></div>
  
    <mat-card-content class="-m-2 mt-2">
      <div class="h-4 w-1/2 bg-gray-300 rounded animate-pulse"></div>
      <div class="h-4 w-1/2 bg-gray-300 rounded mt-2 animate-pulse"></div>
      <div class="h-4 w-1/2 bg-gray-300 rounded mt-2 animate-pulse"></div>
    </mat-card-content>
  </mat-card>