<header class="bg-gradient-to-r from-black to-zinc-900 text-white">
    <div class="flex justify-center items-center h-[6rem] sm:justify-between sm:h-[6rem] sm:px-20  text-sm sm:text-base">
        <a routerLink="/" class="cursor-pointer">
            <p class="font-semibold">POLÍCIA JUDICIARIA CIVIL</p>
            <p>ESTADO DE MATO GROSSO</p>
        </a>
        <div class="hidden sm:block">
            <p class="font-semibold">SELETIVO SEPLAG 2025</p>
            <p>FRONTEND SENIOR</p>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="bg-gradient-to-r from-black to-zinc-900 text-white h-[6rem] flex justify-center items-center">
    <div class="flex justify-center items-center flex-col text-sm sm:text-base">
        <P class="font-semibold">SELETIVO SEPLAG 2025</P>
        <p class="row">FRONTEND SENIOR - MARCELO VANDERLINDE JÚNIOR</p>
    </div>    
</footer>